.movies-container {
  width: 100%;
}

.section-title {
  font-size: 32px;
  color: white;
  font-weight: 300;
}

.no-results {
  margin-top: 20px;
  font-size: 16px;
  color: #5a698f;
  text-align: center;
}
